.section__content {
  color: $section-text;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
}
