.btn {
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

.btn-primary {
  --bs-btn-padding-y: 20px;
  --bs-btn-padding-x: 40px;

  @include media-breakpoint-down(md) {
    --bs-btn-font-size: 1rem;
    --bs-btn-padding-y: 14px;
    --bs-btn-padding-x: 28px;
  }

  @include media-breakpoint-down(sm) {
    --bs-btn-font-size: 0.85rem;
    --bs-btn-padding-y: 10px;
    --bs-btn-padding-x: 20px;
  }
}

.btn-clear {
  color: #fff;
  background-color: transparent;
}
