.custom-login-message {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    top: calc(50vh - 175px);
  }

  .logged-in & {
    display: none;
  }
}

.custom-login-message__image {
  display: block;
  margin: 0 auto 20px;
}

.custom-login-message__title {
  max-width: 350px;
  margin: 0 auto;
  color: #777;
  font-size: 18px;
  line-height: 21px;

  @include media-breakpoint-up(md) {
    font-size: 25px;
    line-height: 28px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.css-1o92x15-IconWrapper-PageLogoIcon {
  display: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.css-396ruk-LoginButton-button-default-gray {
  position: absolute;
  top: 160px;
  margin-top: 0 !important;
}

.logged-in {
  // .nc-entryEditor-containerOuter { // Netlify-cms 1.9.2
  .e1pxf6c40,
  .e1pxf6c41 {
    padding-bottom: 44px;
  }

  .el9l68m0 {
    max-height: calc(100vh - 132px);
  }

  .e1yhfkro1 {
    padding-bottom: 20px;
  }
}
