<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">O que fazemos</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Projetos de arquitetura paisagista com 3D</h4>
                    <p class="text-muted">Cooperação com Arq.a paisagista Susana Ribas</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Construção de Jardins</h4>
                    <p class="text-muted">Preparação do terreno</p>
                    <p class="text-muted">Implantação de sistemas de rega automáticos</p>
                    <p class="text-muted">Plantações de árvores, arbustos e herbáceas</p>
                    <p class="text-muted">Sementeiras </p>
                    <p class="text-muted">Aplicação de tapete de relva</p>
                    <p class="text-muted">Instalação de manta geotêxtil e espalhamento de inertes</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Manutenção de Jardins</h4>
                    <p class="text-muted">Corte de relvados</p>
                    <p class="text-muted">Desmatações </p>
                    <p class="text-muted">Poda de árvores de qualquer tamanho e arbustos</p>
                    <p class="text-muted">Adubações </p>
                    <p class="text-muted">Tratamento a pragas e doenças </p>
                    <p class="text-muted">Limpeza e recolha de lixo</p>
                </div>
            </div>
        </div>
    </section>