.navbar {
  --navbar-padding: 32px;
  --navbar-height: 150px;

  display: flex;
  align-items: stretch;
  height: var(--navbar-height);
  padding: var(--navbar-padding) 0 0;
  border: 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $dark, transparent);
  transition: all 0.3s;

  @include media-breakpoint-down(md) {
    --navbar-height: 74px;
    --navbar-padding: 0;

    &.navbar--expanded {
      background-color: $dark;
    }
  }

  body.pg-simple & {
    --navbar-height: 182px;

    background-color: $dark;
    background-image: none;
    padding-bottom: var(--navbar-padding);

    @include media-breakpoint-down(md) {
      --navbar-height: 74px;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(var(--navbar-height) * 1.5);
        background-color: $dark;
        transition: all 0.3s;
      }
    }
  }

  body:not(.scrolled) &.navbar--expanded,
  body.scrolled & {
    --navbar-height: 74px;

    background-color: $dark;
    padding: 0;

    @include media-breakpoint-down(md) {
      &::after {
        height: 0;
      }
    }
  }

  .container {
    --bs-gutter-x: 0;
    --container-width: 0;

    position: relative;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;

    // Doesn't work on safari, hence the absolute positioning of .navbar-brand below
    // @include media-breakpoint-down(md) {
    //   justify-content: center;
    // }
  }
}

.navbar-brand {
  position: relative;
  z-index: 5;
  margin-right: 0;
  padding: 8px;
  transition: all 0.3s;

  @include media-breakpoint-down(md) {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  body:not(.scrolled) .navbar:not(.navbar--expanded) & {
    @include media-breakpoint-down(md) {
      transform: translateX(-50%) scale(1.7) translateY(36px);
    }

    @include media-breakpoint-down(sm) {
      transform: translateX(-50%) scale(1.55) translateY(24px);
    }
  }
}

.navbar-logo {
  display: block;
  height: 100%;
  // fix for safari
  max-width: 100%;
  filter: drop-shadow(0 0 20px $dark);
}

.navbar-collapse {
  align-items: stretch;
  justify-content: flex-end;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: all 0.3s;

    .navbar--expanded & {
      max-height: 360px;
      opacity: 1;
    }
  }
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 24px;
  border-radius: 0;
  border: none;

  svg {
    color: $light;
  }

  &:hover,
  &:focus {
    outline: 0;
    background-color: $primary;
    box-shadow: none;

    svg {
      color: $light;
    }
  }
}
