:root {
  --section-heading-margin: 75px;

  @include media-breakpoint-down(sm) {
    --section-heading-margin: 36px;
  }
}

.section-heading {
  margin-top: 0;
  margin-bottom: var(--section-heading-margin);
  font-size: 40px;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }

  body.pg-simple & {
    text-align: center;
  }
}
