.sgdpr-box {
  display: flex;
  z-index: 9999;
  align-items: center;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background: $dark;
  color: $light;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: unset;
    bottom: 0;
    align-items: stretch;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // sass-lint:disable-line no-vendor-prefixes
      top: auto;
    }
  }
}

.sgdpr-message {
  flex: 1 1 auto;
  margin-right: 5px;

  @include media-breakpoint-up(lggdpr) {
    padding-bottom: 0;
  }
}

.sgdpr-button {
  background-color: $primary;

  &:hover {
    background-color: darken($primary, 7.5%);
  }

  @include media-breakpoint-down(md) {
    padding: 0 16px;
  }
}

#sgdpr-title-container {
  display: flex;
  margin-right: 10px;
}

.sgdpr-title {
  display: none;
}

.sgdpr-info-icon {
  position: relative;
  right: 0;
  width: 24px;
  height: 24px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: $primary;
  background-image: none;
}

.sgdpr-info-icon-fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
