.navbar {
  display: flex;
  align-items: stretch;
  min-height: 74px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: background-color .3s;

  @include media-breakpoint-down(md) {
    &.navbar--expanded {
      background-color: $dark;
    }
  }

  &.navbar--scrolled {
    background-color: $dark;
  }

  .container {
    position: relative;
    align-items: stretch;
  }

  @include media-breakpoint-down(md) {
    .container {
      justify-content: flex-end;
      max-width: unset;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
}

.navbar-brand {
  position: absolute;
  top: 146px;
  left: 50%;
  margin: 0 0 0 5px;
  transform: translateX(-50%);
  transition: top .6s, left .6s, transform .6s;
  pointer-events: none;

  @include media-breakpoint-down(md) {
    top: 60px;

    .navbar--expanded & {
      top: 0;
      left: 0;
      transform: translateX(0);
      pointer-events: all;
    }
  }

  .navbar--scrolled & {
    top: 0;
    left: 0;
    transform: translateX(0);
    pointer-events: all;
  }
}

.navbar-logo {
  height: 280px;
  transition: height .6s;

  @include media-breakpoint-down(md) {
    height: 132px;

    .navbar--expanded & {
      height: 64px;
    }
  }

  .navbar--scrolled & {
    height: 64px;
  }
}

.navbar-collapse {
  align-items: stretch;
  justify-content: flex-end;
}

.navbar-toggler {
  min-height: 74px;
  padding: 0 24px;
  border-radius: 0;

  i {
    color: $primary;
  }

  &:hover,
  &:focus {
    outline: 0;
    background-color: $primary;

    i {
      color: $light;
    }
  }
}

.nav-link {
  padding: 0;
  color: $light;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s;

  &:focus {
    outline: 0;
  }

  &:hover,
  &.page-scroll--active {
    background-color: $primary;
    color: $light;
  }

  @include media-breakpoint-down(sm) {
    padding: 32px 0;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }
}
