.portfolio__wrapper {
  background-color: $gray-100;
}

.portfolio__outer-container {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .tns-outer {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    width: 750px;
  }
}

.portfolio__img {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 750px;
  }
}

.portfolio__controller {
  display: flex;
  position: absolute;
  z-index: 5;
  top: 50%;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 32px;
  opacity: .25;
  background: $gray-100;
  color: $primary;
  font-size: 48px;
  transform: translateY(-50%);
  transition: opacity .3s, background .3s, color .3s;

  &:hover {
    opacity: 1;
    background: $primary;
    color: $light;
  }

  &:focus {
    outline: 0;
  }
}

.portfolio__previous {
  left: 6px;
}

.portfolio__next {
  right: 6px;
}
