section {
  padding: 100px 0;

  @include media-breakpoint-up(md) {
    padding: 150px 0;
  }
}

.section-heading {
  margin-top: 0;
  margin-bottom: 75px;
  font-size: 40px;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

.section__content {
  color: $gray-700;
}
