.services {
  background-color: $gray-100;
}

.services__wrapper {
  justify-content: center;
}

.services__col {
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(md) {
    margin: 15px 0;
  }

  @include media-breakpoint-up(xl) {
    margin: 36px 0;
  }
}

.services__item {
  @include media-breakpoint-up(md) {
    max-width: 470px;
    border-bottom: 1px solid $primary;
    border-radius: 2px;
    background: $light;
    box-shadow: 0 1px 4px 0 $primary;
  }
}

.services__heading {
  display: flex;
  align-items: center;
}

.services__title {
  margin-bottom: 0;
  color: $dark;
  font-size: 20px;

  @include media-breakpoint-up(md) {
    font-size: 22.5px;
  }
}

.services__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 64px;
  color: $primary;
  font-size: 42px;

  @include media-breakpoint-up(md) {
    width: 110px;
    height: 90px;
    font-size: 3em;
  }
}

.services__details {
  padding: 16px 28px 16px 52px;
  font-size: 18px;
}
