.contact {
  --form-group-margin: 1.5em;

  position: relative;
  background-color: $dark;
  background-image: linear-gradient(to right bottom, $dark 35%, rgba($black, 0.5));

  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }

  @include media-breakpoint-down(sm) {
    --form-group-margin: 0.85em;
  }

  &.main-section {
    padding-top: 0;
  }

  .section-heading {
    color: #fff;
  }

  .container {
    position: relative;
    overflow: hidden;

    > *:not(svg) {
      position: relative;
      z-index: 10;
    }
  }

  .tns-controls {
    display: none;
  }

  .form-group {
    max-width: 760px;
    margin: 0 auto var(--form-group-margin);
    display: flex;
    gap: var(--form-group-margin);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    label:not(.form-check-label) {
      position: absolute;
      opacity: 0;
    }
  }

  .form-control {
    background: none;
    border: 1px solid $white;
    border-radius: 8px;
    color: $white;
    backdrop-filter: blur(15px);

    &:focus {
      border-color: $primary;
      box-shadow: none;
      color: $white;
    }

    &::placeholder {
      color: $grey;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  input {
    &.form-control {
      height: auto;

      &:autofill {
        box-shadow: 0 0 0 30px $dark inset !important;
        background-color: transparent !important;
        color: $white !important;
        -webkit-text-fill-color: $white !important;
      }
    }
  }

  textarea {
    &.form-control {
      height: 190px;
      resize: none;
    }
  }

  input,
  textarea {
    padding: 12px;
    margin-bottom: 4px;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 8px;
    }

    &:focus {
      border-color: $primary;
    }
  }
}

.contact__bg {
  position: absolute;
  color: rgb(52, 53, 54);
  pointer-events: none;
  z-index: 5;
  top: 5px;
  left: -250px;
  font-size: 450px;
}

.contact__title {
  &.section-heading {
    margin-top: var(--section-heading-margin);
    margin-bottom: 0;
    text-align: center;
  }
}

.contact__step {
  position: relative;
  padding-top: var(--section-padding);
  overflow: hidden;
  min-height: 300px;

  .section-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2em;
  }
}

.contact__actions {
  display: flex;
  gap: 1em;
  margin: var(--section-heading-margin) auto 0;
  justify-content: center;
}

.contact__back-btn {
  background: none;
  border-color: transparent;
  color: rgba($white, 0.8);

  &:hover {
    background: rgba($white, 0.2);
    border-color: transparent;
    color: $white;
  }
}

.contact__select-buttons {
  --select-buttons-gap: 1em;

  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: var(--select-buttons-gap);
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto var(--form-group-margin);

  @include media-breakpoint-down(sm) {
    --select-buttons-gap: 0.5em;
  }
}

.contact__select-button {
  position: relative;
  border: 1px solid $white;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  background: none;
  padding: 3% 6%;
  overflow: hidden;
  flex: 1 1 calc((100% - var(--select-buttons-gap)) / 2);
  aspect-ratio: 4/3;

  @include media-breakpoint-down(xsm) {
    padding: 0.5em;
    aspect-ratio: 7/8;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba($primary, 0.4) 10%, $primary 80%);
    opacity: 0;
    transition: all 0.3s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.contact__select-button-image {
  width: auto;
  height: 96px;
  max-width: 100%;

  @include media-breakpoint-down(sm) {
    height: 64px;
  }
}

.contact__select-button__inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: $white;
  position: relative;
  z-index: 2;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.contact__step__objective {
  text-transform: uppercase;
}

.contact__step__area {
  .contact__select-button-image {
    transform-origin: bottom center;
  }

  &:nth-child(1) {
    .contact__select-button-image {
      transform: scale(0.35);
    }
  }

  &:nth-child(2) {
    .contact__select-button-image {
      transform: scale(0.75);
    }
  }

  &:nth-child(3) {
    .contact__select-button-image {
      transform: scale(1.1);
    }
  }

  &:nth-child(4) {
    .contact__select-button-image {
      transform: scale(2.1);
    }
  }
}

.contact__checkboxes {
  &.form-group {
    color: $light;
    font-size: 18px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.contact__checkboxes__item {
  margin-bottom: 16px;
  display: flex;
  gap: 12px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 8px;
  }

  .form-check-input {
    padding: 10px;
    border-radius: 0;
    border: 1px solid $primary;

    &:not(:checked) {
      background: none;
      border-color: $white;
    }
  }
}

.contact__checkbox-label {
  &::before,
  &::after {
    left: -28px;
    width: 20px;
    height: 20px;
  }
}

.contact__success {
  color: $light;
  font-size: 36px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  max-width: 85%;
}

.contact__error {
  color: $light;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.contact__note {
  width: 100%;
  color: $light;
  text-align: left;
}

.contacts-url {
  margin-top: 3em;

  a {
    color: $light;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 12px 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts-url__address {
  @include media-breakpoint-up(md) {
    margin: 1em 0;
  }

  // stylelint-disable-next-line no-descending-specificity
  svg {
    margin-right: 0.65em;
  }
}
