.contact {
  --form-group-margin: 1.5em;

  position: relative;
  background-color: $dark;

  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }

  @include media-breakpoint-down(sm) {
    --form-group-margin: 0.85em;
  }

  &.main-section {
    padding-top: 0;
  }

  .section-heading {
    color: #fff;
  }

  .container {
    position: relative;

    > *:not(svg) {
      position: relative;
      z-index: 10;
    }
  }

  .tns-controls {
    display: none;
  }

  .form-group {
    max-width: 760px;
    margin: 0 auto var(--form-group-margin);
    display: flex;
    gap: var(--form-group-margin);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    label:not(.form-check-label) {
      position: absolute;
      opacity: 0;
    }
  }

  .form-control {
    color: $dark;

    &:focus {
      border-color: $primary;
      box-shadow: none;
      color: $dark;
    }

    &::placeholder {
      color: $section-text;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  input {
    &.form-control {
      height: auto;
    }
  }

  textarea {
    &.form-control {
      height: 236px;
    }
  }

  input,
  textarea {
    padding: 20px;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      padding: 8px;
    }

    &:focus {
      outline: 2px solid $primary;
      outline-offset: 2px;
    }
  }
}

.contact__bg {
  position: absolute;
  opacity: 0.2;
  color: $gray-500;
  pointer-events: none;
  z-index: 5;
  top: 5px;
  left: -250px;
  font-size: 450px;
}

.contact__step {
  position: relative;
  padding-top: var(--section-padding);
  overflow: hidden;
  min-height: 300px;

  .section-heading {
    text-align: center;
  }
}

.contact__actions {
  display: flex;
  gap: 1em;
  margin: var(--section-heading-margin) auto 0;
  justify-content: center;
}

.contact__back-btn {
  background: none;
  border-color: transparent;
  color: rgba($white, 0.8);

  &:hover {
    background: rgba($white, 0.2);
    border-color: transparent;
    color: $white;
  }
}

.contact__select-buttons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  margin-bottom: var(--form-group-margin);
}

.contact__select-button {
  background: rgba($grey-light, 0.9);
  border: 0;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  color: $white;

  &:hover {
    background: $grey-light;
  }

  &.contact__select-button--active {
    background: $primary;
  }
}

.contact__step__objective {
  width: min-content;
  text-transform: uppercase;
}

.contact__step__area {

}

.contact__checkboxes {
  &.form-group {
    color: $light;
    font-size: 18px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.contact__checkboxes__item {
  margin-bottom: 16px;
  display: flex;
  gap: 12px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 8px;
  }

  .form-check-input {
    padding: 10px;
    border-radius: 0;
  }
}

.contact__checkbox-label {
  &::before,
  &::after {
    left: -28px;
    width: 20px;
    height: 20px;
  }
}

.contact__success {
  color: $light;
  font-size: 36px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  max-width: 85%;
}

.contact__error {
  color: $light;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.contact__note {
  width: 100%;
  color: $light;
  text-align: left;
}

.contacts-url {
  margin-top: 3em;

  a {
    color: $light;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 12px 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts-url__address {
  @include media-breakpoint-up(md) {
    margin: 1em 0;
  }

  svg {
    margin-right: 0.65em;
  }
}
