.contact {
  position: relative;
  background-color: $dark;

  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }

  .section-heading {
    color: #fff;
  }

  .container {
    position: relative;

    > *:not(svg) {
      position: relative;
      z-index: 10;
    }
  }

  .form-group {
    max-width: 760px;
    margin: 0 auto 25px;

    label:not(.form-check-label) {
      position: absolute;
      opacity: 0;
    }
  }

  .form-control {
    color: $dark;

    &:focus {
      border-color: $primary;
      box-shadow: none;
      color: $dark;
    }

    &::placeholder {
      color: $section-text;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  input {
    &.form-control {
      height: auto;
    }
  }

  textarea {
    &.form-control {
      height: 236px;
    }
  }

  input,
  textarea {
    padding: 20px;
    border-radius: 0;
  }
}

.contact__bg {
  position: absolute;
  opacity: 0.2;
  color: $gray-500;
  pointer-events: none;
  z-index: 5;
  top: 5px;
  left: -250px;
  font-size: 450px;
}

.contact__checkboxes {
  color: $light;
  font-size: 18px;
  text-align: left;
}

.contact__checkboxes__item {
  margin-bottom: 16px;
  display: flex;
  gap: 12px;

  .form-check-input {
    padding: 10px;
    border-radius: 0;
  }
}

.contact__checkbox-label {
  &::before,
  &::after {
    left: -28px;
    width: 20px;
    height: 20px;
  }
}

.contact__success {
  border: 1px solid $primary;
  background: rgba($primary, 0.2);
  color: $light;
  font-size: 24px;
}

.contact__error {
  border: 1px solid $red;
  background: rgba($red, 0.2);
  color: $light;
  font-size: 24px;
}

.contact__note {
  width: 100%;
  color: $light;
  text-align: left;
  margin-bottom: 25px;
}

.contact__submit {
  display: block;
  margin: 0 auto;
}

.contacts-url {
  margin-top: 3em;

  a {
    color: $light;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 12px 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts-url__address {
  @include media-breakpoint-up(md) {
    margin: 1em 0;
  }

  svg {
    margin-right: 0.65em;
  }
}
