<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Planta&Corta</title>
  <meta name="google-site-verification" content="VmjoM1OMmJDx0iL3S3kRXNpUmJX3jIAdqhQSWz9BjWw" />
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Planta&Corta: Arquitetura paisagistica e construção e manutenção de jardins.">
  <link rel="canonical" href="{{ .Site.BaseURL }}">

  <!-- Lightbox -->
  <link rel="stylesheet" href="/lib/lightbox/css/lightbox.min.css">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400i' rel='stylesheet' type='text/css'>
</head>
