<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="google-site-verification" content="{{ .Site.Data.seo.google_verification }}" />
  <meta name="viewport" content="width=device-width" />

  <link rel="shortcut icon" href="img/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="img/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="img/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="img/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">
	<link rel="apple-touch-icon" href="img/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="img/favicon-144.png">
	<meta name="msapplication-config" content="img/browserconfig.xml">

  <title>{{ .Site.Title }}</title>
  <meta name="twitter:title" property="og:title" content="{{ .Site.Title }}" />

  <link rel="canonical" href="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <meta name="twitter:description" property="og:description" content="{{ truncate 120 .Site.Data.seo.description }}" />
  <meta name="description" content="{{ truncate 120 .Site.Data.seo.description }}" />
  <meta name="twitter:image" property="og:image" content="{{ .Site.Data.seo.image | absURL }}" />

  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image">

  {{ partial "analytics.html" . }}

  <!-- Dependencies -->
  <link rel="stylesheet" href="https://unpkg.com/simple-gdpr@1.1.5/dist/simplegdpr.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" integrity="sha256-tBxlolRHP9uMsEFKVk+hk//ekOlXOixLKvye5W2WR5c=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css" integrity="sha256-6biQaot1QLisz9KkkcCCHWvW2My9SrU6VtqJBv8ChCM=" crossorigin="anonymous" />

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400i' rel='stylesheet' type='text/css' />
</head>
