<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand page-scroll" href="#page-top">
      <img class="navbar-logo" src="/img/logo-header.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar__content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar__content">
      <div class="navbar-nav navbar-right">
        <a class="nav-item nav-link page-scroll" href="#about">Acerca</a>
        <a class="nav-item nav-link page-scroll" href="#services">Serviços</a>
        <a class="nav-item nav-link page-scroll" href="#portfolio">Portfolio</a>
        <a class="nav-item nav-link page-scroll" href="#contact">Contactos</a>
      </div>
    </div>
  </div>
</nav>
