<section id="portfolio" class="main-section portfolio__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Params.portfolio_title }}</h2>
      </div>
    </div>
  </div>
  <div class="portfolio__outer-container">
    <button class="portfolio__controller portfolio__previous" aria-label="Previous photo"><i class="fas fa-angle-left"></i></button>
    <button class="portfolio__controller portfolio__next" aria-label="Next photo"><i class="fas fa-angle-right"></i></button>
    <div class="portfolio__container">
      {{ range .Params.portfolio }}
        <a href="javascript:void(0);" class="portfolio__item" data-alt="{{ .title }}" data-title="{{ .title }}" aria-label="Expand portfolio photo">
          <img class="portfolio__img tns-lazy-img" data-src="{{ .image }}" data-srcset="{{ partial "srcset.html" .image }}" alt="{{ .title }}" sizes="(max-width: 767px) 100vw, 750px">
        </a>
      {{ end }}
    </div>
  </div>
</section>
