<section id="services" class="main-section services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .Params.services_title }}</h2>
      </div>
    </div>
    <div class="row services__wrapper">
      {{ range .Params.services }}
        <div class="services__col col-md-6">
          <div class="services__item">
            <div class="services__heading">
              <i class="services__icon {{ .icon }} fa-inverse"></i>
              <h4 class="services__title">{{ .title }}</h4>
            </div>
            <ul class="services__details">
              {{ range .details }}
                <li class="section__content">{{ .detail }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
