{{ replace (replace (replace (replace . ".PNG" "-wide.PNG") ".png" "-wide.png") ".JPG" "-wide.JPG") ".jpg" "-wide.jpg" }} 2560w,
{{ replace (replace (replace (replace . ".PNG" "-xxxlarge.PNG") ".png" "-xxxlarge.png") ".JPG" "-xxxlarge.JPG") ".jpg" "-xxxlarge.jpg" }} 1920w,
{{ replace (replace (replace (replace . ".PNG" "-xxlarge.PNG") ".png" "-xxlarge.png") ".JPG" "-xxlarge.JPG") ".jpg" "-xxlarge.jpg" }} 1440w,
{{ replace (replace (replace (replace . ".PNG" "-xlarge.PNG") ".png" "-xlarge.png") ".JPG" "-xlarge.JPG") ".jpg" "-xlarge.jpg" }} 1280w,
{{ replace (replace (replace (replace . ".PNG" "-large.PNG") ".png" "-large.png") ".JPG" "-large.JPG") ".jpg" "-large.jpg" }} 1200w,
{{ replace (replace (replace (replace . ".PNG" "-regular.PNG") ".png" "-regular.png") ".JPG" "-regular.JPG") ".jpg" "-regular.jpg" }} 1080w,
{{ replace (replace (replace (replace . ".PNG" "-medium.PNG") ".png" "-medium.png") ".JPG" "-medium.JPG") ".jpg" "-medium.jpg" }} 960w,
{{ replace (replace (replace (replace . ".PNG" "-small.PNG") ".png" "-small.png") ".JPG" "-small.JPG") ".jpg" "-small.jpg" }} 768w,
{{ replace (replace (replace (replace . ".PNG" "-xsmall.PNG") ".png" "-xsmall.png") ".JPG" "-xsmall.JPG") ".jpg" "-xsmall.jpg" }} 720w,
{{ replace (replace (replace (replace . ".PNG" "-xxsmall.PNG") ".png" "-xxsmall.png") ".JPG" "-xxsmall.JPG") ".jpg" "-xxsmall.jpg" }} 600w,
{{ replace (replace (replace (replace . ".PNG" "-xxxsmall.PNG") ".png" "-xxxsmall.png") ".JPG" "-xxxsmall.JPG") ".jpg" "-xxxsmall.jpg" }} 480w,
{{ replace (replace (replace (replace . ".PNG" "-tiny.PNG") ".png" "-tiny.png") ".JPG" "-tiny.JPG") ".jpg" "-tiny.jpg" }} 320w
