{{ replace (replace (replace (replace . ".PNG" "-wide.PNG") ".png" "-wide.png") ".JPG" "-wide.JPG") ".jpg" "-wide.jpg" }} 2800w,
{{ replace (replace (replace (replace . ".PNG" "-xlarge.PNG") ".png" "-xlarge.png") ".JPG" "-xlarge.JPG") ".jpg" "-xlarge.jpg" }} 2000w,
{{ replace (replace (replace (replace . ".PNG" "-large.PNG") ".png" "-large.png") ".JPG" "-large.JPG") ".jpg" "-large.jpg" }} 1400w,
{{ replace (replace (replace (replace . ".PNG" "-regular.PNG") ".png" "-regular.png") ".JPG" "-regular.JPG") ".jpg" "-regular.jpg" }} 820w,
{{ replace (replace (replace (replace . ".PNG" "-medium.PNG") ".png" "-medium.png") ".JPG" "-medium.JPG") ".jpg" "-medium.jpg" }} 680w,
{{ replace (replace (replace (replace . ".PNG" "-small.PNG") ".png" "-small.png") ".JPG" "-small.JPG") ".jpg" "-small.jpg" }} 460w,
{{ replace (replace (replace (replace . ".PNG" "-xsmall.PNG") ".png" "-xsmall.png") ".JPG" "-xsmall.JPG") ".jpg" "-xsmall.jpg" }} 280w
