.nav-link {
  color: $light;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;

  @include media-breakpoint-down(md) {
    padding: 32px 0;
    background-color: $dark;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;

    // For specificity
    .navbar-expand-md .navbar-nav & {
      padding: 0 16px;
    }
  }

  &:focus {
    color: $light;
    outline: 0;
  }

  &:hover,
  &.page-scroll--active {
    background-color: $primary;
    color: $light;
  }
}
