body {
  overflow-x: hidden;
  color: $dark;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.75;
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }

  &:focus:not(&:active) {
    outline: 2px solid $primary;
    outline-offset: 2px;
    color: $secondary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}
